<ion-view hide-nav-bar="true">

<ion-content class="scroll" style="overflow:hidden;" overflow-scroll="false">

<div class="bg-container">
  <div class="content">

    <div style="padding-top:40px; padding-bottom:20px;
                          margin-left:20px; margin-right:20px;
                          border-radius: 0px; background: rgba(0, 0, 0, 0.0)">

      <div class="row" style="padding: 5px;">
        <div class="col col-10"></div>
        <div class="col col-80">
          <div style="font-size: 16px; text-align: center; font-weight: bold;">USER GUIDE</div>
        </div>
        <div class="col col-10"></div>
      </div>

      <div class="row" style="padding: 5px;">

        <div style="font-size: 14px; text-align: justify;">
        1. Target Users
        <p><p>
        Any individual or company who wishes to verify the validity of the copy BizTrust info from
        Suruhanjaya Syarikat Malaysia (SSM)
        <p>
        2. How the apps work
        <p>
        </div>

      </div>

      <div class="row" style="padding-left: 20px">
          <div style="font-size: 14px; text-align: justify;">
          i. The SSM BizTrust QR Code screen will display a "Tap screen to scan" message to enable
          scanning of the QR Code
          <p><p>
          ii. After running the QR Code scanner start, user must point camera towards the QR code
          given. Tap 'x' at a convenient position to redirect to the front page.
          </div>
      </div>

      <div class="row" style="padding: 5px;">

        <div style="font-size: 14px; text-align: justify;">
        <p>
        3. Output
        <p>
        </div>

      </div>

      <div class="row" style="padding-left: 20px">
          <div style="font-size: 14px; text-align: justify;">
          i. Corporate informatin will be displayed upon successful scanning of the QR code. Tap the QR icon located
          at a convenient position to redirect to SSM BizTrust QR code page.
          <p><p>
          ii. An "Invalid SSM BizTrust QR Code" will prompt if the QR Code is not valid. Tap the QR icon located at convenient
          position to redirect to SSM BizTrust QR code page.
          <p>
          iii. The app will display "Information Not Found" if the entity has not registered under SSM. Tap the QR icon located
          at a convenient position to redirect to SSM BizTrust QR code page.
          <p>
          iv. The app will display "Connectoin Lost" if there is no internet connection. Tap the QR icon located at a
          convenient position to redirect to SSM BizTrust QR code page.
          </div>
      </div>

      <div class="row" style="padding: 5px;">

        <div style="font-size: 14px; text-align: justify;">
        <p>
        4. Verify
        <p>
        Users have to user MySSM app to verify the BizTrust QR code.
        </div>

      </div>

      <div class="row" style="padding: 10px;">
        <div class="col col-10">
        </div>
        <div class="col col-80">
          <div class="center1">
            <div style="padding-top:20px;" ng-controller="CustomNavi">
              <button class="button button-medium button-positive findbutton" ng-click="goBack()">
                <strong><font color="F9EC00"><div >Close</div></font></strong>
              </button>
            </div>
          </div>
        </div>
        <div class="col col-10">
        </div>
      </div>

    </div>

  </div>

</div>

</ion-content>

  <div ng-controller="BrowseLink" class="biztrust-ssmfooter"><center><a ng-click="openXLink('https://www.ssm.com.my')">{{'SSM'|translate}} <span ng-if="appversion">. {{'VERSION'|translate}} {{appversion}} </span>©</a></center></div>

</ion-view>


