<ion-view hide-nav-bar="true">

<ion-content ion-content class="no-header scroll" style="overflow:visible; top: 0;">

<div>

  <!--
  <center>
  <div class="biztrust-result" ng-controller="CustomNavi">
    <div style="float: right;" ng-click="goBack()">
      <button class="button button-small icon ion-close" style="background: #F9EC00"></button>
    </div>
  </div>
  </center>
  -->

  <div class="card" style="padding-top:10px; padding-bottom:0px;
                          margin-left:20px; margin-right:20px;
                          border-radius: 25px; background: #0421b6;">
    <div class="row" style="padding: 10px;">
      <div class="col col-33">
        <div style="margin: auto; align-items: right;">
        <img style="height: 100%; width: 100%; object-fit: contain;" ng-src="img/logo_biztrust.png"/>
        </div>
      </div>

      <div class="col">
        <div class="center1">
        <h4><font color="#F9EC00">Whoops!</font></h4>
        </div>
      </div>

    </div>

    <div class="row" style="background: white;">
      <div class="col col-10">
      </div>
      <div class="col col-80">
        <div class="center1">
          <div class="biztrust-title" translate="CORPORATEINFO">CORPORATE INFORMATION</div>
        </div>
      </div>
      <div class="col col-10">
      </div>
    </div>

    <div class="row" style="background: white; min-height:400px;">
      <div class="col col-10">
      </div>
      <div class="col col-80">
        <div class="center1">
        <br>
        <br>
        <br>
        <br>
        <br>
        Invalid code. Please contact enquiry@ssm.com.my for further clarification
        </div>
      </div>
      <div class="col col-10">
      </div>
    </div>
  </div>

</div>

</ion-content>

  <div ng-controller="BrowseLink" class="ssmfooter"><center><a ng-click="openXLink('https://www.ssm.com.my')">{{'SSM'|translate}} <span ng-if="appversion">. {{'VERSION'|translate}} {{appversion}} </span>©</a></center></div>

</ion-view>


