<ion-view>
  <ion-nav-title class="title-class">
    {{ 'MENU_09'|translate }}
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-qr-scanner" style="color:yellow;"></button>
  </ion-nav-buttons>

<ion-content ng-app="starter.controllers" ng-controller="CmpndMenuCtrl as mc">

<div class="bgtukar">
  <style>
      .column {
        float: left;
        width: 50%;
        padding: 5px;
      }

      /* Clearfix (clear floats) */
      .row::after {
        content: "";
        clear: both;
        display: table;
      }
  </style>
  <br>
  <center><div class="titlenews">SSM BizTrust QR Code</div></center>
  <br>
  <center>
    <div class="row">
      <div><img style='height: 100%; width: 100%; object-fit: contain' ng-src="img/logo_ssm_v3.png"/></div>
      <div><img style='height: 100%; width: 100%; object-fit: contain' ng-src="img/logo_biztrust.png"/></div>
    </div>
  </center>

</div>
</ion-content>

  <div ng-controller="BrowseLink" class="ssmfooter"><center><a ng-click="openXLink('https://www.ssm.com.my')">{{'SSM'|translate}} <span ng-if="appversion">. {{'VERSION'|translate}} {{appversion}} </span>©</a></center></div>

</ion-view>


