<ion-view>
  <ion-nav-title class="title-class">
    {{ 'MENU_09'|translate }}
  </ion-nav-title>

  <ion-nav-buttons side="right">

    <div ng-controller="CustomNavi">
      <div style="float: right;" ng-click="goBack()">
        <button class="button button-small icon ion-close" style="background: #F9EC00; color: black"></button>
      </div>
    </div>
  </ion-nav-buttons>
<ion-content class="scroll" style="overflow:hidden;" overflow-scroll="false">

<div class="biztrust-bgtukar">

  <div class="biztrust-main" ng-controller="CustomNavi">

    <!--<div style="float: right;" ng-click="goBack()">
      <button class="button button-small icon ion-close" style="background: #F9EC00"></button>
    </div>-->
    <center>
      <div style="padding-top: 20px; padding-bottom: 0px; margin-top: 10px;">
      <p><div translate="WELCOMEUSER">Welcome User</div>
      </div>
    </center>
  </div>

  <div style="padding-top:5px; padding-bottom:20px;
                          margin-left:30px; margin-right:30px;
                          border-radius: 0px;"
                          ng-controller="BizTrustCtrl" ng-click="scanQR()">
    <center>

      <div style="margin-top: 10px; margin-bottom:20px">
        <img style='height: 70%; width: 70%; object-fit: contain;' ng-src="img/qrcodessm.jpg"/>
      </div>

      <div>
        <button class="button button-medium button-positive scanqrbutton">
          <strong><font color="F9EC00"><div translate="TAPSCREENTOSCAN">Tap Screen To Scan</div></font></strong>
        </button>
      </div>
    </center>
  </div>

  <div style="padding-bottom: 10px;">
  <center>
  <img style='height: 60%; width: 60%; object-fit: contain;' ng-src="img/three_steps.png"/>
  </center>
  </div>

  <div style="margin-top: 10px;">
  <center>
    <div><img style='height: 30%; width: 30%; object-fit: contain' ng-src="img/logo_ssm_v3.png"/></div>
  </center>
  </div>

  <div style="margin-top: 20px; margin-bottom: 10px;" ng-controller="CustomNavi">
  <center>
    <button class="button button-small button-positive" ng-click="goTo('app.biztrust_userguide')">
      <strong><font color="F9EC00"><div translate="USERGUIDE">User Guide</div></font></strong>
    </button>
  </center>
  </div>

</div>

</ion-content>

  <div ng-controller="BrowseLink" class="biztrust-ssmfooter"><center><a ng-click="openXLink('https://www.ssm.com.my')">{{'SSM'|translate}} <span ng-if="appversion">. {{'VERSION'|translate}} {{appversion}} </span>©</a></center></div>

</ion-view>


