<ion-view>
  <ion-nav-title class="title-class">
    {{ 'MENU_01'|translate }}
  </ion-nav-title>


<ion-content>
<div class="bgtukar" style="height: 100%;">

<div class="text-left">
<style>
.ng-binding div {
    margin: 5px;
    font-size: 14px;
}
.ng-binding div.field-items{
    padding-bottom: 12px;
}
.ng-binding div.field-label{
    font-weight: bold;
}
.ng-binding image.file-icon{
    background: none;
}
.ng-binding p{
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    border: none;
    text-align: left;
    padding: 8px;
}
    
tr:nth-child(even){background-color: #f2f2f2}

.attachment{
        margin: 6px;
    font-size: 14px;
    font-weight: bold;
}

    
</style>

</div>

<div class="list" ng-app="starter.controllers" ng-controller="DetailNewsResult">
<div ng-bind-html="detailNews"></div>
</div>
</ion-content>
     <div ng-controller="BrowseLink" class="ssmfooter"><center><a ng-click="openXLink('https://www.ssm.com.my')">{{'SSM'|translate}} <span ng-if="appversion">. {{'VERSION'|translate}} {{appversion}} </span>©</a></center></div>
</ion-view>
