<ion-view>
  <ion-nav-title class="title-class">{{ 'ESEARCH_RSLT'|translate }}</ion-nav-title>
<ion-content>
  <div class="bgtukar">
  <div class="list">
  <br>
  <center><div translate="eSearch_01">SSM Registration Checking</div></center>
  <br>

  <div class="list" ng-app="starter.controllers" ng-controller="SearchResult">

  <ion-item class="item-text-wrap">	<!--text wrap untuk ayat-ayat yang panjang sangat-->

  <!--   REGISTER OF COMPANY -->
  <div ng-hide="!userData.result.companyNo">
    <label class="item item-input" border="#2E2F83">
    <span class="input-label"><font color="#2E2F83" size="2px" translate="REGISNO">Registration Number:</font></span>
    <font size="2px"> {{userData.result.oldFormatNo}}</font>
    </label>
    <label class="item item-input" border="#2E2F83">
      <span class="input-label"><font color="#2E2F83" size="2px" translate="REGISNONEW">New Registration Number:</font></span>
      <font size="2px"> {{userData.result.newFormatNo}} </font>
    </label>
    <label class="item item-input" border="#2E2F83">
      <span class="input-label"><font color="#2E2F83" size="2px" translate="ENTITYNAME">Entity Name:</font></span>
      <font size="2px"> {{userData.result.companyName}}</font>
    </label>
    <label class="item item-input" border="#2E2F83">
      <span class="input-label"><font color="#2E2F83" size="2px">Status:</font></span>
      <font size="2px"> {{userData.result.comStatus}}</font>
    </label>
    <label class="item item-input" border="#2E2F83">
        <span class="input-label"><font color="#2E2F83" size="2px" translate="GSTNUMBER">GST Number:</font></span>
        <font size="2px"> {{userData.result.findGSTRegNoList.GSTRegNo.vchgstnumber}} </font>
    </label>
    <br>

    <br>
    <label style="font-size:13px;">{{'ASAT'|translate}}: </label><br>
    <label style="font-size:13px;">{{'GST_ASAT'|translate}}: {{userData.result.findGSTRegNoList.GSTRegNo.dtasofdate}}</label><br>

    <label ng-hide="userData.result.companyNo">{{'NODATAFOUND'|translate}}</label>
  </div>

  <!-- REGISTER OF BUSINESS -->
  <div ng-hide="!userData.result.bizRegNo">
    <label class="item item-input" border="#2E2F83">
    <span class="input-label"><font color="#2E2F83" size="2px" translate="REGISNO">Registration Number:</font></span>
    <font size="2px"> {{userData.result.oldFormatNo}}</font>
    </label>
    <label class="item item-input" border="#2E2F83">
      <span class="input-label"><font color="#2E2F83" size="2px" translate="REGISNONEW">New Registration Number:</font></span>
      <font size="2px"> {{userData.result.newFormatNo}} </font>
    </label>
    <label class="item item-input" border="#2E2F83">
      <span class="input-label"><font color="#2E2F83" size="2px" translate="ENTITYNAME">Entity Name:</font></span>
      <font size="2px"> {{userData.result.bizName}}</font>
    </label>
    <label class="item item-input" border="#2E2F83">
      <span class="input-label"><font color="#2E2F83" size="2px">Status:</font></span>
      <font size="2px"> {{userData.result.bizStatus}}</font>
    </label>
    <label class="item item-input" border="#2E2F83">
        <span class="input-label"><font color="#2E2F83" size="2px" translate="GSTNUMBER">GST Number:</font></span>
        <font size="2px"> {{userData.result.findGSTRegNoList.GSTRegNo.vchgstnumber}} </font>
    </label>
    <br>

    <br>
    <label style="font-size:13px;">{{'ASAT'|translate}}: </label><br>
    <label style="font-size:13px;">{{'GST_ASAT'|translate}}: {{userData.businessEntry.findGSTRegNoList.GSTRegNo.dtasofdate}}</label><br>

    <label ng-hide="userData.result.bizRegNo">{{'NODATAFOUND'|translate}}</label>
  </div>
  
  <!-- REGISTER OF LLP -->
  <div ng-hide="!userData.llpEntry">
    <label class="item item-input" border="#2E2F83">
    <span class="input-label"><font color="#2E2F83" size="2px" translate="REGISNO">Registration Number:</font></span>
    <font size="2px"> {{userData.llpEntry.llpNo}}</font>
    </label>
    <label class="item item-input" border="#2E2F83">
      <span class="input-label"><font color="#2E2F83" size="2px" translate="ENTITYNAME">Entity Name:</font></span>
      <font size="2px"> {{userData.llpEntry.llpName}}</font>
    </label>
    <label class="item item-input" border="#2E2F83">
      <span class="input-label"><font color="#2E2F83" size="2px">Status:</font></span>
      <font size="2px"> {{userData.llpEntry.llpStatus}}</font>
    </label>
    <label class="item item-input" border="#2E2F83">
        <span class="input-label"><font color="#2E2F83" size="2px" translate="GSTNUMBER">GST Number:</font></span>
        <font size="2px"> {{userData.llpEntry.findGSTRegNoList.GSTRegNo.vchgstnumber}} </font>
    </label>
    <br>

    <br>
    <label style="font-size:13px;">{{'ASAT'|translate}}: </label><br>
    <label style="font-size:13px;">{{'GST_ASAT'|translate}}: {{userData.llpEntry.findGSTRegNoList.GSTRegNo.dtasofdate}}</label><br>

    <label ng-hide="userData.llpEntry">{{'NODATAFOUND'|translate}}</label>
  </div>

  <!--
    <label class="item item-input" border="#2E2F83">
      <span class="input-label"><font color="#2E2F83" size="2px" translate="REGISNO">Registration Number:</font></span>
      <font size="2px"> {{userData[0].registrationNo}}</font>
    </label>
    <label class="item item-input" border="#2E2F83">
      <span class="input-label"><font color="#2E2F83" size="2px" translate="REGISNONEW">New Registration Number:</font></span>
      <font size="2px"> XXXXXXXXXXXX </font>
    </label>
    <label class="item item-input" border="#2E2F83">
      <span class="input-label"><font color="#2E2F83" size="2px" translate="ENTITYNAME">Entity Name:</font></span>
      <font size="2px"> {{userData[0].entityName}}</font>
    </label>
    <label class="item item-input" border="#2E2F83">
      <span class="input-label"><font color="#2E2F83" size="2px">Status:</font></span>
      <font size="2px"> {{userData[0].status}}</font>
    </label>
    <label class="item item-input" border="#2E2F83">
        <span class="input-label"><font color="#2E2F83" size="2px" translate="GSTNUMBER">GST Number:</font></span>
        <font size="2px"> {{userData[0].gstNo[0].vchgstnumber}}</font>
    </label>
    <br>

    <br>
    <label style="font-size:13px;">{{'ASAT'|translate}}: {{userData[0].asAt}}</label><br>
    <label style="font-size:13px;">{{'GST_ASAT'|translate}}: {{userData[0].gstNoAsAt}}</label><br>

    <label ng-hide="userData.length > 0">{{'NODATAFOUND'|translate}}</label>
   -->

  </ion-item>
  </div>
  </div>
  </div>
</ion-content>
    <div ng-controller="BrowseLink" class="ssmfooter"><center><a ng-click="openXLink('https://www.ssm.com.my')">{{'SSM'|translate}} <span ng-if="appversion">. {{'VERSION'|translate}} {{appversion}} </span>©</a></center></div>
</ion-view>
